.contenido {
    width: 100%;
    height: 540px;
}

.cuerpo {
    height: 650px;
    width: 60%;
    border: none;
    display: block;
}

.organos {
    height: 650px;
    width: 40%;
    border: none;
    display: block;
}
