
.sombra {
    box-shadow: 5px 5px 15px gray;
    border-radius: 20px;
}

.cuad1 {
    position: relative;
    height: 600px;
    width: 40%;
    border: solid thin #000;
    border-radius: 2px;
    background-color: #526D82;
}

.cuad2 {
    position: relative;
    height: 600px;
    width: 40%;
    border: solid thin #000;
    border-radius: 2px;
    background-color: #526D82;
}

.cuad3 {
    margin-top: 8%;
    margin-left: 14%;
    position: absolute;
    height: 500px;
    width: 500px;
    background-color: aliceblue;
}

img {
    position: absolute;
    margin-top: 10%;
    margin-left: 10%;
    border-radius: 35px;
}



h1#titulo {
    font-family: 'Dela Gothic One', sans-serif;
    text-align: center;
    font-size: 30px;
}




