/* Navbar */

#logo-oso {
  margin-left: 20px;
}

#obj-lista {
  margin-left: 10px;
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#obj-lista:hover {
  background-color: rgb(33, 37, 41);
  border-radius: 7px;
  border-style: solid;
  border-color: rgb(101, 101, 172);
  border-width: thin;
}

#obj-lista-desp {
  background-color: rgb(33, 37, 41);
}

/* contenedores */
#Col-cont {
  background-color: rgb(33, 37, 41);
}

/* Otras cosas */
