body {
    font-family: 'Comfortaa', cursive;
}


ul{
    list-style-type: none;   
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(119, 55, 100);
}

li {
    float: left;
}

li a {
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.activo) {
    background-color: rgb(101, 101, 172);
}

.activo {
    background-color: rgb(178, 111, 240);
}